.board {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  grid-gap: 4px;
  position: relative;

  &--local {
    grid-gap: 1px;
  }

  &__winner {
    @apply .absolute .pin .flex .items-center .justify-center .bg-black .text-white .text-5xl .z-20 .select-none ;

    .board--local & {
      @apply .z-10 .text-blue ;
      background-color: rgba(0, 0, 0, .8);
      font-size: 12rem;
    }
  }
}